/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css page T4b */
.main {
  background-color: wheat;
}
.header {
  height: 80px;
}
.header-logo {
  font-family: cursive, sans-serif;
  font-size: 32px;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}
.header-list ul li {
  list-style: none;
  float: left;
  padding-left: 20px;
  padding-top: 32px;
  font-size: 22px;
}
.header-list a {
  text-decoration: none;
  color: #6d9886;
}
.header-list a:hover {
  color: #80489c;
  background-color: white;
}
.hero {
  height: 45vmax;
  background-image: url(src/img/daniel-j-schwarz-H8Ez3qwUjdE-unsplash.jpg);
  background-size: cover;
  border-top: 3px solid black;
  background-repeat: no-repeat;
  background-position: 0 -130px;
}
.text-hero {
  max-width: 50%;
  padding-top: 200px;
  margin: auto;
  text-align-last: center;
}
.text-hero h1 {
  font-family: "raleway", sans-serif;
  font-size: 60px;
  font-weight: bold;
}
.text-hero p {
  font-family: sans-serif;
  font-size: 20px;
}
.text-hero button {
  margin-top: 15px;
  font-family: cursive;
  background-color: black;
}
.text-hero button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
