body {
  background-color: aqua;
  font-family: Georgia;
}
h1 {
  font-family: "Comic Sans MS";
  font-size: 60px;
  color: darkblue;
}

h4 {
  float: right;
  font-style: italic;
}
h3 {
  padding-top: 50px;
}
p {
  text-align: justify;
}
