/* header */
.logo img {
  width: 50px;
  height: 50px;
}
.header {
  background-color: black;
  height: 60px;
  position: relative;
}
.logo {
  position: absolute;
  padding-left: 10px;
}
.header span {
  padding-left: 60px;
}
.headerli li {
  font-size: 40px;
  float: left;
  padding-left: 30px;
  padding-top: 5px;
  font-family: "Patrick Hand", cursive;
}
.header li a {
  text-decoration: none;
  color: white;
}
.headerli a:hover {
  color: #ffcbcb;
}
/* main */
.main {
  width: 1300px;
  height: auto;
  margin: auto;
}
.gallery li,
.gallery li .hero,
.gallery span {
  border-radius: 20%;
}
.gallery li .hero {
  width: 300px;
  height: 300px;
  position: relative;
}
.gallery li {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 2px solid black;
  position: relative;
  float: left;
}

.gallery li span {
  display: block;
  width: 300px;
  height: 300px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  text-decoration: none;
  line-height: 300px;
  color: black;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transition: 0.2s;
  transform: scale(0);
  font-family: "Patrick Hand", cursive;
  font-size: 40px;
}
.gallery li a:hover span {
  opacity: 1;
  transform: scale(1);
}
.gallery {
  width: 400px;
  padding-top: 20px;
  float: left;
}
/* text */
.product h1 {
  font-size: 60px;
  font-weight: 10px;
}
.text h1 {
  font-family: "Rubik Glitch", cursive;
}
/* glitch */
.text h1 {
  animation: glitch 1s linear infinite;
}
.text h1::before,
.text h1:after {
  content: attr(title);
  position: absolute;
  left: 0;
}
.text h1:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
.text h1:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

/* ---- */
.text a {
  display: inline-block;
  float: right;
  padding: 10px 70px;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-top: 30px;
  text-decoration: none;
  font-family: "Rubik Marker Hatch", cursive;
}

/* padding text */
.text-product-1 {
  padding-top: 40px;
}
.text-product-2 {
  padding-top: 220px;
}
.text-product-3 {
  padding-top: 220px;
}
.text-product-4 {
  padding-top: 220px;
}
.text img {
  width: 20px;
  height: 20px;
}
.text span {
  padding-bottom: 20px;
}
.text a:hover {
  background-color: yellow;
}
/* overlay */
.overlay {
  width: 0;
  height: 0;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  transition: 1s;
  text-align: center;
  padding: 50px;
}

.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.overlay img {
  max-height: 100%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
}
.overlay:target img {
  animation: ZoomdanFade 1s;
}
.overlay .close {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50px;
  left: 70%;
  margin-left: -22px;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  line-height: 14px;
  padding: 0;
  opacity: 0;
}
.overlay:target .close {
  animation: SlideDownFade 0.5s 0.5s forwards;
}

/* navigation */
.next {
  width: 50px;
  height: 50px;
  background-color: white;
  display: inline-block;
  position: absolute;
  margin-left: 50px;
  top: 50%;
}
.prev {
  width: 50px;
  height: 50px;
  background-color: white;
  display: inline-block;
  transform: rotate(180deg);
  position: absolute;
  margin-left: -100px;
  top: 50%;
}
/* @keyframes */
@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ZoomdanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes SlideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
/* coba keyframes */
@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
/* clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/* footer */
.footer {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  background-color: #ffcbcb;
}
.footer img {
  width: 20px;
  height: 20px;
  float: left;
}
.footer h1 {
  font-size: 20px;
}
